<div class="col-4">
  <div class="text-center">
    <% if customer.profile_image.attached? %>
      <%= image_tag customer.profile_image.variant(resize:'200x200').processed %>
    <% else %>
      <%= image_tag("no_image.jpg", :size => "200x200") %>
    <% end %>
  </div>
  <table class="table mt-2 mb-0">
    <tbody>
      <tr><td style="width: 120px">ステータス </td><td> <%= customer.user_status_i18n%> </td></tr>
      <tr><td>名前                            </td><td> <%= customer.full_name %>       </td></tr>
      <tr><td>フリガナ                        </td><td> <%= customer.full_name_kana %>  </td></tr>
      <tr><td>郵便番号                        </td><td> <%= customer.post_code %>       </td></tr>
      <% if customer.id == current_customer.id %>
        <tr><td>住所     </td><td style="word-break : break-all"> <%= customer.addres %>       </td></tr>
        <tr><td>電話番号 </td><td>                                <%= customer.phone_number %> </td></tr>
        <tr><td>アドレス </td><td>                                <%= customer.email %>        </td></tr>
      <% else %>
        <tr><td>住所     </td><td style="word-break : break-all"> <%= customer.open_addres %> </td></tr>
        <tr><td>契約件数 </td><td>                                <%= contracts.count %>      </td></tr>
      <% end %>
    </tbody>
  </table>

  <%= render "customer/assessments/assessment", customer: customer %>

  <% if request.fullpath == customers_mypage_path %>
    <%= render "customer/relationships/relationship_mypage", customer: customer %>
  <% else %>
    <%= render "customer/relationships/relationship", customer: customer %>
  <% end %>

  <% if customer.user_status == "trimmer" %>
    <% unless ( customer.info.nil? )%>
      <table class="table mb-0">
        <tbody>
          <tr><td style="width: 120px"> 得意犬種     </td><td> <%= customer.info.best_breed %>   </td></tr>
          <tr><td>                      得意なカット </td><td> <%= customer.info.best_cut %>     </td></tr>
          <tr><td>                      大型犬の値段 </td><td> <%= customer.info.price_large %>  </td></tr>
          <tr><td>                      中型犬の値段 </td><td> <%= customer.info.price_medium %> </td></tr>
          <tr><td>                      小型犬の値段 </td><td> <%= customer.info.price_small %> </td></tr>
        </tbody>
      </table>
    <% end %>
    <table class="table mb-0">
      <tbody>
        <tr><td style="width: 120px">評価</td><td class="average-rate<%= customer.id %>" data-score="<%= evaluation_ave(customer) %>"></td></tr>
        <tr><td></td><td></td></tr>
      </tbody>
    </table>
  <% end %>

  <% if request.fullpath == customers_mypage_path %>
    <div class="text-center pt-3"><strong>自己紹介文</strong></div>
    <p style="word-break : break-all"><%= customer.introduction%></p>
  <% end %>


  <div class="mt-4">
    <% if customer.id == current_customer.id %>
    <div class="text-center">
      <%= link_to "会員編集", edit_customer_path(customer), class: "btn btn-success", style: "width:90px" %>
      <%= link_to "退会する", customers_withdraw_confirm_path, class: "btn btn-danger", style: "width:90px" %>
    </div>
    <% else %>
      <div class="mt-1">
        <%= render "customer/relationships/relationship_btn", customer: customer %>
        <% if customer.user_status == "trimmer" %>
          <%= render "customer/assessments/assessment_btn", customer: customer %>
        <% end %>
        <div>
          <%= link_to 'chatを始める', chat_path(customer.id), class: "btn btn-primary", style: "width:150px" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

