<h3>トリマー一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        名前
       </th>
      <th>
        住所
      </th>
      <th>
        いいね数
      </th>
      <th>
        評価
      </th>
    </tr>
  </thead>
  <tbody>
    <% trimmers.each do |trimmer| %>
      <tr>
        <td>
          <% if trimmer.profile_image.attached? %>
            <%= image_tag trimmer.profile_image.variant(resize:'50x50').processed %>
          <% else %>
            <%= image_tag("no_image.jpg", :size => "50x50") %>
          <% end %>
        </td>
        <td>
          <%= link_to customer_path(trimmer.id) do %>
            <p><%= trimmer.full_name %></p>
          <% end %>
        </td>
        <td>
          <%= trimmer.open_addres %>
        </td>
        <td>
          <%= trimmer.likers.count %>
        </td>
        <td class="average-rate<%= trimmer.id %>" data-score="<%= evaluation_ave(trimmer) %>"></td>
        <script>
          $('.average-rate<%= trimmer.id %>').raty({
            readOnly: true,
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            score: function() {
              return $(this).attr('data-score');
            },
          });
        </script>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center-block">
<%= paginate trimmers, :param_name => 'customer_page' %>
</div>
