<h3>トリマー一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>
      </th>
      <th>
        名前
       </th>
      <th>
        住所
      </th>
      <th>
        いいね数
      </th>
      <th>
        評価
      </th>
    </tr>
  </thead>
  <tbody>
    <% trimmers.each do |trimmer| %>
      <tr>
        <td>
          <% if trimmer.profile_image.attached? %>
            <%= image_tag trimmer.profile_image.variant(resize:'50x50').processed %>
          <% else %>
            <%= image_tag("no_image.jpg", :size => "50x50") %>
          <% end %>
        </td>
        <td>
          <%= link_to customer_path(trimmer.id) do %>
            <p><%= trimmer.full_name %></p>
          <% end %>
        </td>
        <td>
          <%= trimmer.open_addres %>
        </td>
        <td>
          <%= trimmer.likers.count %>
        </td>
        <td class="average-rate<%= trimmer.id %>" data-score="<%= evaluation_ave(trimmer) %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="center-block">
<%= paginate trimmers, :param_name => 'customer_page' %>
</div>




<h2>地図から検索</h2>

<input id="address" type="textbox" placeholder="都道府県や地名を入力">
<input type="button" value="Encode" onclick="codeAddress()">
<div id='map'></div>

<script>
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 36.5, lng: 138},
    zoom: 5,
  });

  <% map_trimmers.each do |user| %>
    <% unless user.lat.blank? || user.lng.blank? %>
      (function() {
        let marker<%= user.id %> = new google.maps.Marker({
          position: {lat: <%= user.lat %>, lng: <%= user.lng %>},
          map: map,
          title: "<%= user.full_name %>",
        });
        google.maps.event.addListener(marker<%= user.id %>, 'click',function() {
          window.location.href = 'customers/<%= user.id %>';
        });
      })();
    <% end %>
  <% end %>
}

let geocoder

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      map.setZoom(8);
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
