<div class="col-7 text-center mx-auto">
  <h4>カット依頼案件</h4>
  <div class="float-right mb-1">
    <%= link_to "依頼作成", new_request_path, class: "btn btn-success", style: "width:150px" %>
  </div>
  <table class="table mb-5">
    <thead>
      <tr>
        <th>
          依頼日
        </th>
        <th>
          トリミング犬
        </th>
        <th>
          応募数
        </th>
      </tr>
    </thead>
    <tbody>
      <% requests.each do |requesta| %>
        <% if requesta.is_complete == false %>
          <tr>
            <td>
              <%= link_to request_path(requesta.id) do %>
                <%= requesta.updated_at.to_s(:datetime_jp) %>
              <% end %>
            </td>
            <td>
              <%= request_dog_name(requesta) %>
            </td>
            <td>
              <%= requesta.applications.count %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <h4>契約案件一覧</h4>
  <table class="table">
    <thead>
      <tr>
        <th>
          施術日
        </th>
        <th>
          トリミング犬
        </th>
        <th>
          トリマー
        </th>
        <th>
          ステータス
        </th>
      </tr>
    </thead>
    <tbody>
      <% contracts.each do |contract| %>
        <tr>
          <td>
            <%= link_to contract_path(contract.id) do %>
              <%= contract.preferred_date.to_s(:datetime_jp) %>
            <% end %>
          </td>
          <td>
            <%= contract_dog_name(contract) %>
          </td>
          <td>
            <%= contract_trimmer_name(contract) %>
          </td>
          <td>
            <%= contract.is_status_i18n %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate contracts, :param_name => 'contract_page' %>
</div>








