<h3>依頼一覧</h3>
<table class="table">
  <thead>
    <tr>
      <th>依頼日</th>
      <th>愛犬名</th>
      <th>依頼主</th>
      <th>応募</th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |requesta| %>
      <% if requesta.is_complete == false %>
        <tr>
          <td>
            <%= link_to request_path(requesta.id) do %>
              <%= requesta.updated_at.to_s(:datetime_jp) %>
            <% end %>
          </td>
          <td><%= dogs.find(requesta.dog_id).name %></td>
          <td><%= customers.find(requesta.customer_id).full_name %></td>
          <td>
            <% if applications.find_by(customer_id: current_customer.id, request_id: requesta.id) %>
              済
            <% else %>
              未
            <% end %>
            </td>
        </tr>
      <% end %>
  　<% end %>
  </tbody>
</table>
<%= paginate requests, :param_name => 'request_page' %>

<h3>飼い主一覧</h3>
<span>※同一都道府県のみ</span>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>名前</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <% dog_owners.each do |dog_owner| %>
      <tr>
        <td>
          <% if dog_owner.profile_image.attached? %>
            <%= image_tag dog_owner.profile_image.variant(resize:'50x50').processed %>
          <% else %>
           <%= image_tag("no_image.jpg", :size => "50x50") %>
          <% end %>
        </td>
        <td>
          <%= link_to customer_path(dog_owner.id) do %>
            <p><%= dog_owner.full_name %></p>
          <% end %>
        </td>
        <td><%= dog_owner.prefecture_code %><%= dog_owner.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate dog_owners, :param_name => 'customer_page' %>