<div class="col-7">
  <h4>応募中案件一覧</h4>
  <table class="table">
    <thead>
      <tr>
        <th>依頼日       </th>
        <th>トリミング犬 </th>
        <th> 依頼主      </th>
      </tr>
    </thead>
    <tbody>
      <% applications_page.each do |application| %>
        <% requesta = requests.find(application.request_id) %>
        <% if requesta.is_complete == false %>
          <tr>
            <td>
              <%= link_to request_path(application.request_id) do %>
                <%= requesta.updated_at.to_s(:datetime_jp) %>
              <% end %>
            </td>
            <td><%= request_dog_name(requesta) %></td>
            <td><%= request_dog_owner_name(requesta) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= paginate applications_page, :param_name => 'application_page' %>

  <h4 class="mt-5">契約案件一覧</h4>
  <table class="table">
    <thead>
      <tr>
        <th>施術日     </th>
        <th>愛犬       </th>
        <th>飼い主     </th>
        <th>ステータス </th>
        <th>評価       </th>
      </tr>
    </thead>
    <tbody>
      <% contracts.each do |contract| %>
        <tr>
          <td>
            <%= link_to contract_path(contract.id) do %>
              <%= contract.preferred_date.to_s(:datetime_jp) %>
            <% end %>
          </td>
          <td><%= contract_dog_name(contract) %></td>
          <td>
            <%= link_to customer_path(contract.client_id) do %>
              <%= contract_dog_owner_name(contract) %>
            <% end %>
          </td>
          <td><%= contract.is_status_i18n %><br><%= consent_status(contract) %></td>
          <% if contract.evaluation.nil? %>
            <td></td>
          <% else %>
            <td><%= contract.evaluation.rate %>点</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate contracts, :param_name => 'contract_page' %>

  <h4 class="mt-5">トリミング画像</h3>
  <div>
    <% if customer.cut_images.attached? %>
      <% customer.cut_images.each do |image| %>
        <%= image_tag image.variant(resize:'150x150').processed, class: "mb-1" %>
      <% end %>
    <% else %>
    　<p>画像を投稿していません</p>
    <% end %>
  </div>

</div>








