<div class="container">
  <div class="row">
    <div class="col-4">
      <p><%= @customer.profile_image %></p>
      <p>ステータス : <%= @customer.user_status_i18n%></p>
      <p>名前 : <%= @customer.last_name %><%= @customer.first_name %></p>
      <p>カナ : <%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
      <p>郵便番号 : <%= @customer.post_code %></p>
      <p>住所 : <%= @customer.prefecture_code %><%= @customer.city %><%= @customer.street %><%= @customer.other_address %></p>
      <p>電話番号 : <%= @customer.phone_number %></p>
      <p>自己紹介文 : <%= @customer.introduction%></p>

      <% if is_trimmer? %>
      　トリミング画像！！！！！！！！！！！！
      <% else %>
      　愛犬画像！！！！！！！！！！
      <% end %>

      <div class="mt-4">
        <%= link_to "会員編集", edit_customer_path(@customer), class: "btn btn-success", style: "width:100px" %>
        <%= link_to "愛犬一覧", dogs_path, class: "btn btn-success", style: "width:100px" %>
        <%= link_to "退会する", customers_withdraw_confirm_path, class: "btn btn-danger", style: "width:100px" %>
      </div>
    </div>

    <div class="col-8">
      <% if is_trimmer? %>
        <h4>応募中案件一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>依頼日</th>
              <th>トリミング犬</th>
            </tr>
          </thead>
          <tbody>
            <% @applications.each do |application| %>
              <% if (current_customer.id ==  @applications.find(application.id).customer_id) && (@requests.find(@applications.find(application.id).request_id).is_complete == false) %>
                <tr>
                  <td>
                    <%= link_to request_path(@applications.find(application.id).request_id) do %>
                      <%= application.updated_at.to_s(:datetime_jp) %>
                    <% end %>
                  </td>
                  <td><%= @dogs.find(@requests.find(@applications.find(application.id).request_id).dog_id).name %></td>
                </tr>
              <% else %>
              <% end %>
           <% end %>
          </tbody>
        </table>

        <h4>契約案件一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>施術日</th>
              <th>トリミング犬</th>
              <th>飼い主</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
              <% if current_customer.id ==  @applications.find(contract.application_id).customer_id %>
              <tr>
                <td>
                  <%= link_to contract_path(contract.id) do %>
                    <%= contract.updated_at.to_s(:datetime_jp) %>
                  <% end %>
                </td>
                <td><%= @dogs.find(@requests.find(@applications.find(contract.application_id).request_id).dog_id).name %></td>
                <td><%= @dog_owner.find(@requests.find(@applications.find(contract.application_id).request_id).customer_id).last_name %><%= @dog_owner.find(@requests.find(@applications.find(contract.application_id).request_id).customer_id).first_name %></td>
                <td><%= contract.is_status_i18n %></td>
              </tr>
              <% else %>
              <% end %>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <h4>カット依頼案件</h4>
        <table class="table">
          <thead>
            <tr>
              <th>依頼日</th>
              <th>トリミング犬</th>
              <th>応募数</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |request| %>
              <% if (current_customer.id == @requests.find(request.id).customer_id) && (request.is_complete == false) %>
                <tr>
                  <td>
                    <%= link_to request_path(request.id) do %>
                      <%= request.updated_at.to_s(:datetime_jp) %>
                    <% end %>
                  </td>
                  <td><%= @dogs.find(request.dog_id).name %></td>
                  <td><%= @applications.where(request_id: request.id).count %></td>
                </tr>
              <% else %>
              <% end %>
           <% end %>
          </tbody>
        </table>

        <div class="text-center mt-4">
          <%= link_to "依頼作成", new_request_path, class: "btn btn-success", style: "width:150px" %>
        </div>

        <h4>契約案件一覧</h4>
        <table class="table">
          <thead>
            <tr>
              <th>施術日</th>
              <th>トリミング犬</th>
              <th>トリマー</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @contracts.each do |contract| %>
              <% if current_customer.id ==  @requests.find(@applications.find(contract.application_id).request_id).customer_id %>
              <tr>
                <td>
                  <%= link_to contract_path(contract.id) do %>
                    <%= contract.updated_at.to_s(:datetime_jp) %>
                  <% end %>
                </td>
                <td><%= @dogs.find(@requests.find(@applications.find(contract.application_id).request_id).dog_id).name %></td>
                <td><%= @torimmer.find(@applications.find(contract.application_id).customer_id).last_name %><%= @torimmer.find(@applications.find(contract.application_id).customer_id).first_name %></td>
                <td><%= contract.is_status_i18n %></td>
              </tr>
              <% else %>
              <% end %>
            <% end %>
          </tbody>
        </table>

      <% end %>
    </div>
  </div>
</div>







