<div class="container">
  <div class="row">
    <%= render 'customer/customers/customer_info', customer: @customer, applications: @applications, requests: @requests, dogs: @dogs, contracts: @contracts %>
    <div class="col-8">
      <% if is_trimmer? %>
        <h3>カット依頼案件</h3>
        <table class="table">
          <thead>
            <tr>
              <th>依頼日</th>
              <th>トリミング犬</th>
              <th>応募数</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |requesta| %>
              <% if requesta.is_complete == false %>
                <tr>
                  <td>
                    <%= link_to request_path(requesta.id) do %>
                      <%= requesta.updated_at.to_s(:datetime_jp) %>
                    <% end %>
                  </td>
                  <td><%= request_dog_name(requesta) %></td>
                  <td><%= requesta.applications.count %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <h3 class="mt-5">愛犬情報</h3>
        <div class="row text-center">
          <% unless @dogs.blank? %>
            <% @dogs.each do |dog| %>
              <div class="card mr-3 mx-auto border-dark px-1 pt-1 mb-3" style="width: 18rem;">
                <% if dog.dog_image.attached? %>
                  <%= image_tag dog.dog_image.variant(resize:'300x300').processed %>
                <% else %>
                  <%= image_tag("no_dogimage.jpg", :size => "275x285") %>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title">
                    <%= link_to dog_path(dog.id) do %>
                      <%= dog.name %>
                    <% end %>
                  </h5>
                  <div class="card-text"><%= dog.breed %></div>
                  <div class="card-text"><%= dog.age %></div>
                </div>
              </div>
            <% end %>
          <% else %>
          <div class="mx-auto">
            <p>まだ愛犬が登録されていません</p>
          </div>
          <% end %>
        </div>
      <% else %>
      <h3>自己紹介文</h3>
        <div style="word-break : break-all">
          <% if @customer.introduction.blank? %>
            <p>紹介文はまだ書かれていません</p>
          <% else %>
           <p><%= @customer.introduction %></p>
          <% end %>
        </div>
        <h3 class="mt-5">トリミング画像</h3>
        <% if @customer.cut_images.attached? %>
          <% @customer.cut_images.each do |image| %>
            <%= image_tag image.variant(resize:'200x200').processed, class: "mb-1" %>
          <% end %>
        <% else %>
          <p>トリミング画像はまだ投稿されていません</p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


