<div class="container">
  <div class="row">
    <div class="col-5">
      <dt class="col-sm-5">profile画像</dt>
      <dd class="col-sm-9">
        <% if @customer.profile_image.attached? %>
          <%= image_tag @customer.profile_image.variant(resize:'150x150').processed %>
        <% end %>
      </dd>

      <dt class="col-sm-5">名前</dt>
      <dd class="col-sm-9"><%= @customer.full_name %></dd>

      <dt class="col-sm-5">住所</dt>
      <dd class="col-sm-9"><%= @customer.prefecture_code %><%= @customer.city %></dd>

      <dt class="col-sm-9">フォロー数: <%= @customer.followings.count %></dt>
      <dt class="col-sm-9">フォロワー数: <%= @customer.followers.count %></dt>
      <dt class="col-sm-9">いいね数: <%= @customer.likers.count %></dt>

      <dt class="col-sm-5">自己紹介文</dt>
      <dd class="col-sm-9"><%= @customer.introduction%></dd>
      <% if current_customer.following?(@customer) %>
        <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-primary" %>
      <% end %>

      <% if current_customer.liking?(@customer)%>
        <%= link_to "いいねを消す", customer_assessments_path(@customer.id), method: :delete, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "いいねする", customer_assessments_path(@customer.id), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-7">
      <% if is_trimmer? %>
        <h4>カット依頼案件</h4>
        <table class="table">
          <thead>
            <tr>
              <th>依頼日</th>
              <th>トリミング犬</th>
              <th>応募数</th>
            </tr>
          </thead>
          <tbody>
            <% @requests.each do |requesta| %>
              <% if (@customer.id == @requests.find(requesta.id).customer_id) && (requesta.is_complete == false) %>
                <tr>
                  <td>
                    <%= link_to request_path(requesta.id) do %>
                      <%= requesta.updated_at.to_s(:datetime_jp) %>
                    <% end %>
                  </td>
                  <td><%= @dogs.find(requesta.dog_id).name %></td>
                  <td><%= @applications.where(request_id: requesta.id).count %></td>
                </tr>
              <% else %>
              <% end %>
           <% end %>
          </tbody>
        </table>

        <p>dog</p>
        <div class="row">
          <% unless @dogs.nil? %>
            <% @dogs.each do |dog| %>
              <%= link_to dog_path(dog.id) do %>
                <div class="card" style="width: 10rem;">
                  <% if dog.dog_image.attached? %>
                    <%= image_tag dog.dog_image.variant(resize:'150x150').processed %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= dog.name %></h5>
                    <p class="card-text"><%= dog.breed%></p>
                    <p class="card-text"><%= dog.birthday %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% else %>
        <% if @customer.cut_images.attached? %>
          <% @customer.cut_images.each do |image| %>
            <%= image_tag image.variant(resize:'150x150').processed %> <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



