<script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>

<div class="text-center">
  <%= render "customer/shared/error_messages", resource: resource %>
</div>

<div class="container customer_registration">
  <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <div class="row w-50 form">
      <div class="col-12 text-center pb-2">
        <h2>新規会員登録</h2>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :"会員ステータス*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :user_status_dog_owner, "飼い主" %>
        <%= f.radio_button :user_status, :dog_owner %>
        <%= f.label :user_status_trimmer, "トリマー" %>
        <%= f.radio_button :user_status, :trimmer %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :last_name, "(姓)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :last_name, autofocus: true, autocomplete: "family-name", placeholder: "山田" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :first_name, "(名)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :first_name, autofocus: true, autocomplete: "name", placeholder: "花子" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :last_name_kana, "(セイ)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "family-name", placeholder: "ヤマダ" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :first_name_kana, "(メイ)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "name", placeholder: "ハナコ" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :email, "メールアドレス*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", size: "25", placeholder: "XXX@XX.XXX" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :post_code, "郵便番号(-なし)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :post_code, autofocus: true, autocomplete: "postal-code", placeholder: "1234567" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :prefecture_code, "都道府県*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :prefecture_code, collection: JpPrefecture::Prefecture.all, :value_method => :name, include_blank: '都道府県', placeholder: "東京都" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :city, "市区町村*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :city, autofocus: true, placeholder: "江東区" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :street, "番地*"%>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :street, autofocus: true, size: "25", placeholder: "豊洲〇-〇-〇" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :other_address, "マンション名等" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :other_address, autofocus: true, size: "25", placeholder: "マンション名" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :phone_number, "電話番号(-なし)*" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.text_field :phone_number, autofocus: true, placeholder: "0801234XXXX"  %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :password, "パスワード" %>
        <em>(6 文字以上)</em>
      </div>
      <div class="col-6 pb-2">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.label :password_confirmation, "パスワード(確認用)" %>
      </div>
      <div class="col-6 pb-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="col-5 pb-2 offset-7">
        <%= f.submit '新規登録', class: "clickon" %>
      </div>
    </div>
  <% end %>
</div>
