<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <header>
        <h1 class="text-center"><strong>Dog infomation</strong></h1>
        <p>Powered by <a href="https://newsapi.org">News API</a></p>
      </header>
    </div>

    <div class="articles">
      <% @articles["articles"].first(9).each do |article| %>
        <div class="articles__article">
          <div class="articles__article__title">
            <%= link_to article["title"], article["url"] %>
          </div>
          <div class="articles__article__wrapper">
            <div class="articles__article__wrapper__date">
              <%= article["publishedAt"] %>
            </div>
            <div class="articles__article__wrapper__source">
              <%= article["source"]["name"]%>
            </div>
            <div class="articles__article__wrapper__image">
              <% unless article["urlToImage"].nil? %>
                <%= image_tag article["urlToImage"],:size =>'240x160' %>
              <% end %>
            </div>
            <div class="articles__article__wrapper__content">
              <%= article["description"] %>
            </div >
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


