<div class="chat">
  <% if chat.customer_id == current_customer.id %>
    <p style="text-align: right;">
      <%= chat.message %><br>
      <%= chat.updated_at.to_s(:datetime_jp_time) %><br>
      <%= chat.customer.full_name %>
      <%= link_to "投稿削除", chat_path(chat), method: :delete %>
    </p>
  <% else %>
    <p style="text-align: left;">
      <%= chat.message %><br>
      <%= chat.updated_at.to_s(:datetime_jp_time) %><br>
      <%= chat.customer.full_name %>
    </p>
  <% end %>
</div>
