<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>依頼書</h1>
      <%= form_with model: @request, url: requests_path, local: true do |f| %>
        <div>
          <%= f.label :dog_id, "愛犬選択" %>
          <%= f.collection_select :dog_id, current_customer.dogs, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div>
          <%= f.label :comment, "追記事項" %><br>
          <%= f.text_area :comment, size:"50x10", autofocus: true %>
        </div>
        <div>
          <%= f.label :first_preferred_date, "希望日" %>
          <%= f.datetime_field :first_preferred_date, autofocus: true %>
          ～
          <%= f.datetime_field :last_preferred_date %>
        </div>
        <div>
          <%= f.hidden_field :prefecture_code, value: current_customer.prefecture_code %>
        </div>
        <div class="actions">
          <%= f.button '依頼登録', type: 'button', onclick: 'submit();' %>
        </div>
      <% end %>
    </div>
  </div>
</div>




